.container {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/ticket.jpg");
  background-size: contain;
}

@keyframes pulse {
  0% {
    scale: 1;
    opacity: 0.9;
  }
  90% {
    opacity: 0
  }
  100% {
    scale: 100;
    opacity: 0;
  }
}

.pulse-effect {
  background-color: #29ba9b;
  animation: pulse 1.7s linear infinite;
}

.pulse-container{
  position: relative;
  top: 56px;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.point {
  background-color: #29ba9b;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 35px;
  border-radius: 999px;
  z-index: 99;
}